<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Task manager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<h1>Edit task</h1>
		<form th:object="${task}" th:action="@{../save}" action="#" method="post">
			<label for="name">Task</label>
			
			<label for="id"></label>
			<input type="hidden" id="id" th:field="*{id}" readonly="readonly" />
			<div style="clear: both; display: block; height: 10px;"></div>

			<input type="text" id="name" th:field="*{name}" />
			<label for="desc">Description</label>
			<input type="text" id="desc" th:field="*{desc}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="statelist">State</label>
			<select id="statelist" th:field="*{state}" class="form-control">
			<option th:each="state: ${states}"
				th:value="${state.stateid}"
				th:text="${state.desc}"></option>
			</select>
			
			<label for="personlist">Person</label>
			<select id="personlist" th:field="*{person}" class="form-control">
			<option th:each="person: ${persons}"
				th:value="${person.personid}"
				th:text="${person.name}"></option>
			</select>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="date">Deadline</label>
			<input type="text" id="date" th:field="*{date}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" value="Save"></input>
		</form>
</div>
</body>
</html>